/* 기본 스타일 */
body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow-x: hidden;
}

.container {
    background-color: #fff;
    position: relative;
    width: 1920px;
    margin: 0 auto;
    height: 1080px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.container.process-monitoring{
    background-image: url('image/background_process_monitoring.svg');
    background-position: -45px 0px;
}
.container.ro-monitoring{
    background-image: url('image/background_ro_monitoring.svg');
    background-position: 0px 0px;
}

/* 
    **공정 모니터링 CSS** 
*/
/* 수조 스타일 */
.process-monitoring .water-tank {
    position: absolute;
    display: inline-block;
}

.process-monitoring .water-tank-box{
    position: absolute;
}
.process-monitoring .water-tank-img{
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.process-monitoring .water-tank-text{
    display: block;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #525252;
    text-align: center;
    white-space: nowrap;
}

.process-monitoring .water-tank-img.water-height{
    width: 91px;
    height: 94px;
}

/* 물 높이 레벨에 따른 클래스 */
.process-monitoring .water-tank-img.water-height.red-25{    
    background-image: url('image/red_25.svg');
}
.process-monitoring .water-tank-img.water-height.red-50{
    background-image: url('image/red_50.svg');
}
.process-monitoring .water-tank-img.water-height.red-75{
    background-image: url('image/red_75.svg');
}
.process-monitoring .water-tank-img.water-height.red-100{
    background-image: url('image/red_100.svg');
}
.process-monitoring .water-tank-img.water-height.black-25{
    background-image: url('image/black_25.svg');
}
.process-monitoring .water-tank-img.water-height.black-50{
    background-image: url('image/black_50.svg');
}
.process-monitoring .water-tank-img.water-height.black-75{
    background-image: url('image/black_75.svg');
}
.process-monitoring .water-tank-img.water-height.black-100{
    background-image: url('image/black_100.svg');
}
.process-monitoring .water-tank-img.water-height.blue-25{
    background-image: url('image/blue_25.svg');
}
.process-monitoring .water-tank-img.water-height.blue-50{
    background-image: url('image/blue_50.svg');
}
.process-monitoring .water-tank-img.water-height.blue-75{
    background-image: url('image/blue_75.svg');
}
.process-monitoring .water-tank-img.water-height.blue-100{
    background-image: url('image/blue_100.svg');
}


/* 텍스트 박스 위치 */
.process-monitoring .water-tank .water-tank-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.process-monitoring .water-tank.gupokijo { /* 구)폭기조 */
    left: 495px;
    top: 200px;
}
.process-monitoring .water-tank.yurangjo{  /* 유량조 */
    left: 90px;
    top: 350px;
}
.process-monitoring .water-tank.pokijo { /* 폭기조 */
    left: 467px;
    top: 350px;
}
.process-monitoring .water-tank.taljiljo{ /* 탈질조 */
    left: 695px;
    top: 350px;
}
.process-monitoring .water-tank.chimjonjo { /* 침전조 */
    left: 1018px;
    top: 340px;
}
.process-monitoring .water-tank.sukjipjo { /* 스컴저장조 */
    left: 1400px;
    top: 205px;
}
.process-monitoring .water-tank.bansongjo { /* 반송조 */
    left: 1400px;
    top: 470px;
}
.process-monitoring .water-tank.chulisujyo{ /* 처리수조 */
    left: 90px;
    top: 735px;
}
.process-monitoring .water-tank.ro{ /* RO */
    left: 370px;
    top: 735px;
}
.process-monitoring .water-tank.makchulisujyo { /* 막처리수조 */
    left: 672px;
    top: 735px;
}
.process-monitoring .water-tank.makbunrijo { /* 막분리조 */
    left: 1019px;
    top: 735px;
}
.process-monitoring .water-tank.nongchukjo { /* 농축조 */
    left: 1369px;
    top: 735px;
}
.process-monitoring .water-tank.gumakbunrijo{ /* 구)막분리조 */
    left: 1725px;
    top: 735px;
}


.process-monitoring .measurement-box{
    width: 120px;
    position: absolute;
    background-color: #3F3F5A; /* 카드 배경색 */
    color: white;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    
}
.process-monitoring .measurement-box label {
    font-size: 13px;
    font-weight: 700;
    display: block;
    background-color: #52536D;
    padding: 10px;
    line-height: 1;
}
.process-monitoring .measurement-box .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 10px;
    background-color: #27274C;
    line-height: 1;
}
.process-monitoring .measurement-box .input-container input {
    width: 50px;
    width: calc(100% - 30px);
    font-size: 18px;
    text-align: right;
    border: none;
    border-radius: 4px;
    background: initial;
    color: #FFFF35;
    font-weight: 700;
    -webkit-text-stroke: 1px #BD0600;
}
.process-monitoring .measurement-box .input-container input:focus {
    outline: none;
}
.process-monitoring .measurement-box .input-container input::placeholder {
   /*  color: #eee; */
    color: #FFFF35;
}
.process-monitoring .measurement-box .unit {
    font-size: 12px;
    margin-left: 5px;
}

/* 유량계 포지션 */
.process-monitoring .water-tank.gupokijo .flowmeter{
    left: 120px;
    top: -40px;
}
.process-monitoring .water-tank.yurangjo .flowmeter{
    left: 170px;
    top: -40px;
}
.process-monitoring .water-tank.makbunrijo .flowmeter-1{
    left: -180px;
    top: -40px;
}
.process-monitoring .water-tank.makbunrijo .flowmeter-2{
    left: 150px;
    top: -40px;
}
.process-monitoring .water-tank.gumakbunrijo .flowmeter{
    left: -185px;
    top: -40px;
}

/* 수위계 포지션 */
.process-monitoring .water-tank .waterlevel{
    left: -14px;
    top: 135px;
}


/* 
    **RO 모니터링 CSS** 
*/
.ro-monitoring *{
    box-sizing: border-box;
}
/* 노란색 라벨 */
.ro-monitoring .label-box{
    position: relative;
}
.ro-monitoring .label{
    position: absolute;
    display: inline-block;
    min-width: 100px;
    padding: 3px 20px;
    background:#ffed8a;
    font-weight: 500;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}
.ro-monitoring .label-1{
    left: 195px;
    top: 32px;
}
.ro-monitoring .label-2{
    left: 451px;
    top: 32px;
}
.ro-monitoring .label-3{
    left: 1675px;
    top: 245px;
}
.ro-monitoring .label-4{
    left: 1333px;
    top: 451px;
}
.ro-monitoring .label-5{
    left: 1306px;
    top: 556px;
}
.ro-monitoring .label-6{
    left: 1050px;
    top: 625px;
}

/* 펌프영역 */
.ro-monitoring .pump-area{
    position: relative;
}
.pump-box{

}
.pump-inner{
    display: flex;
}